:root {
  font-size: 62.5%;
  --color-main: #fff;
  --color-black: #000;
  --color-red: #e7000b;
  --color-light-blue: #155dfc;
  --color-banfage: #ad46ff;
  --primary-gradient: linear-gradient(150deg, #235ad1, #23d1a8);
  --primary-gradient: linear-gradient(150deg, #061125, #0d1522);
  --primary-gradient: linear-gradient(150deg, #030303, #2d2d2d);
  --primary-gradient: linear-gradient(150deg, #2158f7, #3f39df);
  --border: 1px solid #e5e7eb;
  /* FONT */
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;
  --font-weight-9: 900;
  --font-weight-8: 800;
  --font-weight-7: 700;
  --font-weight-6: 600;
  --font-weight-5: 500;
  --font-weight-4: 400;
  --border-radius: 20px;
  --transition-timing: 0.3s;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

html,
body {
  overflow-x: hidden;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  max-width: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection {
  background-color: #3b82f6;
  color: #fff;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
